@import "tailwindcss";




:root{
  --darkgreen: #114a43;
  --lemon:#d8e28c;
  --headtext:#14202e;
  --ptext:#828282;
  --white:#ffffff;
  --bgwhite:rgba(233, 241, 253, 0.87);;
  --border: 2px 2px 3px #f9fafb;
  --bgwhitei:rgb(218, 233, 255);;

}


/* helper input style to match the reference */
.input {
  @apply w-full h-12 px-4 rounded-lg border border-gray-300 bg-white text-[15px] outline-none transition;
}
.input:focus { @apply border-[var(--darkgreen)] ring-2 ring-[var(--darkgreen)]/10; }

.card {
  @apply w-full max-w-2xl bg-white shadow-xl rounded-2xl p-8;
}
.toggle{
  fill: var(--headtext);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}
