@import "tailwindcss";




:root{
  --darkgreen: #114a43;
  --lemon:#d8e28c;
  --headtext:#14202e;
  --ptext:#828282;
  --white:#ffffff;
  --bgwhite:rgba(233, 241, 253, 0.87);;
  --border: 2px 2px 3px #f9fafb;
  --bgwhitei:rgb(218, 233, 255);;

}


/* helper input style to match the reference */
.input {
  @apply w-full h-12 px-4 rounded-lg border border-gray-300 bg-white text-[15px] outline-none transition;
}
.input:focus { @apply border-[var(--darkgreen)] ring-2 ring-[var(--darkgreen)]/10; }

.card {
  @apply w-full max-w-2xl bg-white shadow-xl rounded-2xl p-8;
}
.toggle{
  fill: var(--headtext);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}
@keyframes slide-up {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}


/* laoding */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #1e40af; /* UnionGateBank Blue */
  float: left;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 { animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 { animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 { animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 { animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 { animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 { animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 { animation-delay: 0s; }
.sk-cube-grid .sk-cube8 { animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 { animation-delay: 0.2s; }

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
